/* Homebridge Config UI X Themes */

@mixin make-theme($name, $primary, $primary-dark) {
  .config-ui-x-#{$name} {
    .bg-primary {
      background-color: $primary-dark !important;
    }

    .primary-text {
      color: $primary;
    }

    .btn-primary, .btn-default {
      @extend .btn-#{$name} !optional;
    }

    .badge-primary {
      background-color: $primary-dark !important;
    }

    a {
      &.card-link {
        color: #000000;
        text-transform: uppercase;

        &:hover {
          color: $primary-dark;
        }
      }
    }

    .d-sm-block a.card-link {
      text-transform: initial;
    }

    .hb-uix-switch {
      .hb-uix-slider  {
        border-color: $primary !important;
      }

      input:checked ~ .hb-uix-slider {
        background-color: $primary !important;
      }
    }

    .qr-code-container {
      svg {
        fill: $primary-dark;
      }
    }

    .hb-widget-chart-background {
      background-color: rgba($primary-dark, 0.2);
      display: none;
    }

    .alert-info {
      background-color: rgba($primary-dark, 0.1);
      border-color: rgba($primary-dark, 0.1);
      color: $primary;
    }

    .animate_loader {
      .spinner_outer {
        stroke: $primary-dark
      }
      .spinner_inner {
        stroke: $primary
      }
    }
  }
}


/* === Start New Theme CSS === */


/*
 * New theme variables
 */

// Common colors
$red:     rgb(249, 46, 49);
$orange:  rgb(255, 149, 9);
$yellow:  rgb(237, 187, 0);
$green:   rgb(0, 178, 102);
$blue:    rgb(0, 92, 191);

// Homebridge color
$purple:      rgb(87, 39, 124);
$purple-dark: rgb(73, 31, 89);

// B/W
$black: #222;
$white: #fff;

// Measurement
$padding:       4px;
$canal:         (6 * $padding);
$border-radius: (2 * $padding);
$header-height: (12 * $padding);


/*
 * New theme - header style
 */

@mixin header-theme($bg-color, $fg-color) {
  $text-color: darken($fg-color, 8%);

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    color: $text-color;
    height: $header-height;
    box-shadow: 0 8px 16px rgba($black, .32);

    a {
      color: $text-color!important;

      i,
      span,
      strong {
        color: $text-color!important;
      }
    }

    .navbar {
      height: $header-height;
      color: $text-color;

      background: rgba(darken($bg-color, 8%), .88)!important;
      background: linear-gradient(180deg, rgba($bg-color, .88), rgba(darken($bg-color, 4%), .88))!important;
      border-bottom: 1px solid rgba(darken($bg-color, 8%), .88);

      -webkit-backdrop-filter: saturate(180%) blur(20px);
    }

    .menu-logo {
      height: (6 * $padding)!important;
    }

    // Main menu
    .navbar-nav.mr-auto {
      margin: 0 auto!important;

      li {
        overflow: hidden;
        border-radius: $border-radius;

        a {
          position: relative;
          overflow: hidden;
          padding: ($padding / 2) (4 * $padding);
          font-weight: 500;

          > * {
            display: none;
          }
        }

        &.active {
          background-color: rgba(darken($bg-color, 16%), .88);
        }
      }
    }
  }
}


/*
 * New theme - all style
 */

@mixin make-new-theme() {
  $name: "new";

  :root {
    --base-size: 2vh;
  }

  .config-ui-x-#{$name} {
    font-family: var(--font-family-sans-serif);
    font-size: 100%;
    letter-spacing: .005rem;
    padding: 0;
    background-color: darken($white, 4%);

    // Heading
    @for $i from 1 through 5 {
      h#{$i}, .h#{$i} {
        font-size: (1.8rem - (0.1 * $i));
        font-weight: 500;
        letter-spacing: -.024;
        line-height: 120%;
        padding: 0;
        margin: (1.5 * ((12 - (2 * $i)) * $padding)) 0 (2 * $padding);

        &:first-child {
          margin-top: 0;
        }
      }
    }

    // Paragraph
    p {
      line-height: 140%;
      margin: (2 * $padding) 0;
    }

    @for $i from 1 through 10 {
      .mt-#{$i}, .my-#{$i} { margin-top: ($padding * $i)!important }
      .mb-#{$i}, .my-#{$i} { margin-bottom: ($padding * $i)!important }
    }

    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
      position: relative;
      z-index: 1;
      padding: 0 $canal;

      h3.primary-text {
        padding: 0;
        color: $black;
        font-weight: 500;
      }

      router-outlet + * {
        display: block;
        width: 100%;
        height: 100%;
        padding: $header-height 0 0;
      }
    }

    a {
      &.card-link {
        color: $black;
        line-height: 100%;

        &:hover {
          color: inherit;
        }
      }
    }

    .hb-uix-switch {
      .hb-uix-slider  {
        border-color: $blue!important;
      }

      input:checked ~ .hb-uix-slider {
        background-color: $blue!important;
      }
    }

    .hb-widget-chart-background {
      background-color: rgba($white, .24);
      display: none;
    }

    .alert-info {
      background-color: rgba($green, 0.1);
      border-color: rgba($green, 0.1);
      color: $orange;
    }

    .animate_loader {
      svg {
        position: relative!important;
        width: 15vw!important;
        height: 15vw!important;
      }

      .spinner_outer {
        stroke: rgba($purple, .32);
      }

      .spinner_inner {
        stroke: $purple;
      }
    }

    .bg-primary {
      background-color: $blue!important;
    }

    .grey-text {
      color: lighten($black, 32%)!important;
    }

    // Modification for header page
    @include header-theme($blue, $white);


    /*
     * Modification for plugins page - search bar
     */

    form {
      .hb-npm-search {
        background-color: $white;
        height: auto;
        margin: (8 * $padding) 0;
        padding: $padding (6 * $padding);
        border: 1px solid darken($white, 12%);

        border-radius: $border-radius;
        box-shadow: 0 12px 24px rgba($black, .048);
        transition: color .256s ease, background-color .256s ease, border-color .256s ease, box-shadow .256s ease;

        &:hover {
          border-color: darken($white, 16%);
          box-shadow: 0 12px 24px rgba($black, .24);
        }

        &:focus {
          border-color: rgba(darken($blue, 16%), .24);
          box-shadow: 0 24px 48px rgba(darken($blue, 16%), .24);
        }

        &:before,
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;

          content: "";
          display: block;
          border-radius: 1px;
          background-color: $black;

          width: (3 * $padding);
          height: 2px;

          transform: translate(-50%, -50%) rotate(45deg);
          transform-origin: 50%;
        }
      }

      .hb-npm-search-clear {
        background-color: lighten($black, 30%);

        top: (12 * $padding);
        right: (10 * $padding);
        width: (5 * $padding);
        height: (5 * $padding);

        border-radius: 100%;
        transition: background-color .256s ease;

        &:hover {
          background-color: lighten($black, 15%);
        }

        &:before,
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;

          content: "";
          display: block;
          border-radius: 1px;
          background-color: $white;

          width: (3 * $padding);
          height: 2px;

          transform: translate(-50%, -50%) rotate(45deg);
          transform-origin: 50%;
        }

        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }


    /*
     * Modification for button style
     */

    .btn {
      line-height: 100%;
      text-transform: capitalize;
      margin: 0 ($padding * 2) 0 0;

      background-color: transparent!important;
      border: 1px solid darken($white, 16%);
      color: lighten($black, 16%);
      padding: 0 (6 * $padding);
      height: (8 * $padding);

      border-radius: $border-radius;
      box-shadow: none!important;

      display: inline-flex;
      justify-content: center;
      align-items: center;

      transition: color .256s ease, background-color .256s ease, border-color .256s ease, box-shadow .256s ease;

      &.btn-default,
      &.btn-primary {
        border: none;
        color: $white;
      }

      &.btn-elegant {
        background-color: transparent!important;
      }

      &.btn-default {
        background-color: $blue!important;
        &:hover {
          color: $white;
          background-color: darken($blue, 8%)!important;
        }
      }

      &.btn-primary {
        background-color: $green!important;
        &:hover {
          color: $white;
          background-color: darken($green, 8%)!important;
        }
      }

      &:hover {
        color: initial;
        background-color: darken($white, 8%)!important;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }


    /*
     * Dropdown menu
     */

    .dropdown-menu {
      z-index: 99;
      padding: (2 * $padding);
      overflow: hidden;
      border-radius: $border-radius;
      background-color: transparent;
      box-shadow: 0 8px 16px rgba($black, .32);

      &:after {
        position: absolute;
        z-index: -1;
        content: "";
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(darken($white, 4%), .72);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
      }

      a {
        padding: (2 * $padding) (4 * $padding);
        color: $black!important;
        font-weight: 400;
        line-height: 100%;
        border-radius: $border-radius;

        &:active,
        &:focus,
        &:hover {
          background-color: rgba($purple, .88);
          color: $white!important;
        }
      }

      .dropdown-divider {
        margin: (2 * $padding) 0;
        border-top: 2px solid rgba(darken($white, 16%), .48);
        border-radius: $border-radius;
      }
    }

    /*
     * Modification login view
     */

    .login-container {
      .logo {
        display: block;
        width: 35%;
        margin: 0 auto (12 * $padding);
      }

      .login-card {
        overflow: hidden;
        padding: 0;
        background-color: transparent;
        margin: (6 * $padding)!important;
        max-width: (100 * $padding);
        border-radius: (3 * $border-radius);
        box-shadow: 0 24px 64px rgba(darken($purple-dark, 8%), .92);

        form {
          padding: (12 * $padding) (10 * $padding) (10 * $padding);
          background: rgba($purple, .88);
          background: linear-gradient(180deg, rgba($purple, .88), rgba($purple-dark, .88));
          border: 1px solid rgba($purple-dark, .92);
          border-radius: (3 * $border-radius);
          -webkit-backdrop-filter: saturate(180%) blur(20px);
        }
      }

      .md-form {
        margin: 0;

        &:first-child {
          margin-top: (8 * $padding);

          input {
            border-radius: $border-radius $border-radius 0 0;
          }
        }

        &:last-child {
          margin-top: 1px;
          margin-bottom: (8 * $padding);

          input {
            border-radius: 0 0 $border-radius $border-radius;
          }
        }

        .form-control {
          margin: 0;

          &:invalid,
          &.is-invalid,
          .ng-invalid {
            background-position: calc(100% - #{(3 * $padding)}) center !important;
            background-size: (4 * $padding);
          }
        }

        i {
          margin: (2 * $padding) 0 0 (3 * $padding);
          color: $purple!important;
          font-size: (4 * $padding);
        }

        input,
        label {
          margin-left: 0;
          padding: (2 * $padding) (2 * $padding) (2 * $padding) (10 * $padding)!important;
        }

        input {
          width: 100%;
          color: $purple;
          font-size: 1rem;
          border: none;
          background-color: rgba($white, .64);

          &.form-control:focus,
          &:active,
          &:hover,
          &:focus {
            color: $purple!important;
            border: none!important;
            background: rgba($white, .64)!important;
            box-shadow: none!important;
          }

          + label {
            color: rgba($purple, 48%);
            font-size: 1rem;
            transform: none;
            transition: opacity .256 ease;

            &:before {
              display: none;
            }

            &.active {
              opacity: 0;
              transform: none;
            }
          }
        }
      }

      .btn,
      .btn:focus,
      .btn:hover,
      .btn:active {
        border: none!important;
        background-color: $yellow!important;
        color: $purple-dark!important;
        box-shadow: 0 8px 32px rgba(darken($yellow, 32%), .72)!important;
        border: 1px solid darken($yellow, 32%)!important;
        transition: all .256s ease;

        &:disabled,
        &.disabled {
          opacity: 1!important;
          color: rgba($white, .64)!important;
          border: 1px solid rgba($black, .24)!important;
          background: rgba($black, .16)!important;
          box-shadow: none!important;
        }
      }
    }


    /*
     * Modification status view
     */

    app-status {
      z-index: 0;
      width: 100%;
      height: 100%;
      display: block;

      .status-container {
        margin: 0 (-$canal)!important;
        padding: 0 $canal!important;
      }

      .scrollVertical {
        overflow-x: initial;
        overflow-y: initial;
      }

      > div > .row {
        margin: 0 (-$canal);

        &:nth-child(2) {
          position: relative;
          z-index: 2;
          height: calc(100vh - #{$header-height});
          box-shadow: 0 4px 24px rgba($black, .32);
        }

        &:last-child {
          $footer-height: (9 * $padding);

          position: relative;
          z-index: 1;
          overflow: hidden;
          height: $footer-height;
          line-height: $footer-height;
          background-color: darken($white, 4%);

          > div {
            position: fixed;
            left: 0;
            right: 0;
            top: initial;
            bottom: 0;
            height: $footer-height;
            margin: 0!important;
            border-top: 1px solid darken($white, 8%);

            &.grey-text,
            small,
            a {
              font-weight: 500;
              letter-spacing: .064rem;
              color: lighten($black, 24%)!important;
            }
          }
        }
      }

      gridster {
        &.fit {
          overflow-x: initial;
          overflow-y: initial;
        }

        .p-2 {
          padding: (2 * $padding)!important;
        }

        .gridster-preview {
          border-radius: var(--base-size);
          box-shadow: 0 8px 16px rgba($black, .32) inset;
          border: 1px solid rgba($black, .24) inset;
        }

        gridster-item {
          border-radius: var(--base-size);
          box-shadow: 0 8px 16px rgba($black, .16);

          .drag-handler {
            font-size: .7rem;
            font-weight: 600;
            letter-spacing: .048rem;
            text-transform: uppercase;
            color: lighten($black, 48%);
            padding: (3 * $padding) (10 * $padding) (3 * $padding) (6 * $padding)!important;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .widget-control-button {
            top: (3 * $padding);
            right: (3 * $padding);
            z-index: 3;
          }

          &#MemoryWidgetComponent,
          &#CpuWidgetComponent,
          &#WeatherWidgetComponent,
          &#HomebridgeLogsWidgetComponent,
          &#ClockWidgetComponent,
          &#UptimeWidgetComponent,
          &#HapQrcodeWidgetComponent {
            .drag-handler,
            .widget-control-button {
              color: $white!important;
            }
          }

          &#HomebridgeStatusWidgetComponent {
            $space-between: (4 * $padding);
            background-color: rgba($white, .92);
            -webkit-backdrop-filter: saturate(180%) blur(20px);

            .gridster-item-content {
              flex: 1;
              padding: 0!important;
              justify-content: center!important;
            }

            .hb-status-item {
              position: relative;
              display: flex;
              flex: 0;
              align-items: center;
              justify-content:center;
              font-size: calc(3 * var(--base-size));

              &:not(:last-child) {
                margin-right: 0!important;
                padding-right: (4 * $space-between);

                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  right: (2 * $space-between);
                  top: 25%;
                  bottom: 25%;
                  width: 1px;
                  background-color: darken($white, 16%);
                }
              }

              .align-self-center {
                span:first-child {
                  font-size: calc(1.25 * var(--base-size));
                }

                br {
                  display: none;
                }

                span,
                .grey-text,
                .primary-text {
                  display: block;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }

                .grey-text,
                .primary-text {
                  margin-top: calc(-1/4 * var(--base-size));
                  font-size: var(--base-size);

                  span {
                    display: inline-block;
                    font-size: inherit;
                  }
                }
              }

              .primary-text {
                color: $green!important;
              }

              .fa-exclamation-circle {
                color: $orange!important;
              }
            }
          }

          &#HapQrcodeWidgetComponent {
            $dark: $purple;
            $light: $white;

            background: linear-gradient(180deg, lighten($dark, 16%) 0%, lighten($dark, 8%) 100%);

            color: $light;

            .grey-text {
              color: rgba($light, .64)!important;
            }

            .p-2 {
              padding: calc(2 * var(--base-size))!important;
            }

            .drag-handler {
              font-size: 1rem;
              font-weight: normal;
              letter-spacing: inherit;
              text-transform: initial;
              padding: 0!important;
              white-space: normal;

              > div {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-end;
                align-items: flex-end;
              }
            }

            .qr-code-container {
              display: flex;
              margin-top: auto;

              svg {
                width: 20vh;
                height: 20vh;
                border: 1px solid $light;
                align-self: flex-end;
                position: initial;
                fill: $light;
              }
            }

            .gridster-item-content {
              padding: 0!important;
              margin: 0 auto;

              p {
                width: 100%;
                text-align: left;
                margin-bottom: 0!important;
                font-size: var(--base-size);
                color: $light;

                &:first-child {
                  margin-top: 2vh!important;
                  font-size: calc(2 * var(--base-size));
                  font-weight: 500;
                  white-space: nowrap;
                }
              }
            }
          }

          &#SystemInfoWidgetComponent {
            $drag-handler-height: 10 * $padding;

            background-color: $white;

            .overflow-auto {
              padding: 0!important;
            }

            .flex-wrap {
              padding: ($drag-handler-height + $padding) 0 0!important;

              &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: $drag-handler-height;
                height: $padding;
                background-color: $white;
                border-bottom: 1px dashed darken($white, 24%);
              }
            }

            .drag-handler {
              position: absolute;
              z-index: 1;
              top: 0;
              left: 0;
              right: 0;
              color: darken($yellow, 28%)!important;
              height: $drag-handler-height;
              line-height: $drag-handler-height + $padding;
              padding-top: 0!important;
              padding-bottom: 0!important;
              background: rgba(lighten($yellow, 24%), .8);
              background: linear-gradient(180deg, rgba(lighten($yellow, 16%), .92), rgba(saturate(lighten($yellow, 4%), 4%), .92));
              -webkit-backdrop-filter: saturate(180%) blur(20px);
            }

            table,
            tbody {
              display: block;
              width: 100%;
            }

            tr {
              display: flex;
              flex-flow: column nowrap;
              border-top: 1px solid darken($white, 4%);

              &:first-child {
                border-top: none;
              }

              th,
              td {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              th {
                padding: (1.5 * $padding) (6 * $padding) 0!important;
                margin-bottom: -($padding / 2);
                font-size: .5rem;
                letter-spacing: .064rem;
                text-transform: uppercase;
                color: lighten($black, 16%);
              }
              td {
                padding: 0 (6 * $padding) (1.5 * $padding)!important;
                font-size: .9rem;
                font-weight: 500;
                color: lighten($black, 8%)!important;
              }
            }
          }

          &#WeatherWidgetComponent {
            background-color: lighten($blue, 24%);

            .p-2 {
              padding-top: 0!important;
            }

            .weather-now {
              flex-flow: row wrap!important;
              align-items: flex-end!important;
            }

            h1,
            h2,
            h3,
            p {
              padding: .5vh (6 * $padding);
              margin: 0;
              flex: 0;
              color: $white;
              text-align: left;
            }

            h1 {
              order: 1;
              font-size: calc(3 * var(--base-size));
            }

            h2 {
              order: 2;
              font-weight: 300;
              font-size: calc(3.5 * var(--base-size));
            }

            h3 {
              order: 3;
              flex: 100%;
              font-weight: 500;
              font-size: var(--base-size);
            }

            p {
              order: 4;
              flex: 100%;
              font-size: calc(5/6 * var(--base-size));
              letter-spacing: calc(var(--base-size) / 100);
              margin-top: -.5vh;
              color: rgba($white, .88)!important;
            }
          }

          &#MemoryWidgetComponent,
          &#CpuWidgetComponent,
          &#UptimeWidgetComponent {
            color: $white!important;

            canvas {
              background-color: $green;
              background: linear-gradient(180deg, $green 0%, darken($green, 12%) 100%);
            }

            .hb-widget-chart-background {
              background-color: $yellow;
            }

            .justify-content-around {
              justify-content: flex-start!important;
            }

            .grey-text {
              font-weight: 500;
              color: $white!important;
            }

            .widget-value-parent-wrap {
              position: relative;
              padding: 0 0 0 (6 * $padding);
              text-align: left!important;
              min-width: auto;

              &:not(:first-child) {
                padding-left: (8 * $padding);

                &:before {
                  content: "";
                  display: block;
                  position: absolute;
                  left: (4 * $padding);
                  top: 25%;
                  bottom: 25%;
                  width: 1px;
                  background-color: $white;
                }
              }
            }

            .widget-value,
            .widget-value-label {
              text-shadow: 0 4px 16px rgba(0, 0, 0, .24);
            }

            .widget-value {
              font-weight: 600;
              font-size: calc(2 * var(--base-size));
            }

            .widget-value-label {
              font-size: var(--base-size);
            }
          }

          &#CpuWidgetComponent {
            canvas {
              background-color: $blue;
              background: linear-gradient(180deg, $blue 0%, darken($blue, 12%) 100%);
            }

            .hb-widget-chart-background {
              background-color: $red;
            }
          }

          &#UptimeWidgetComponent {
            background-color: $orange;
          }

          &#ClockWidgetComponent {
            background-color: $black;
            color: $white!important;

            .widget-value {
              font-size: calc(3 * var(--base-size));
            }

            .widget-value-label {
              font-size: var(--base-size);
              color: $yellow;
            }
          }

          &#HomebridgeLogsWidgetComponent {
            .p-2 {
              border-top: 1px solid lighten($black, 16%);
              padding: 0 (6 * $padding)!important;
            }
          }
        }
      }
    }


    /*
     * Modification plugins view
     */

    app-plugins {
      .hb-plugin-space-between {
        width: calc(100% - (1 - 1/3) * 10px)!important;

        .card {
          border-radius: 12px;
          background-color: $white;
          box-shadow: 0 16px 24px rgba(0, 0, 0, .048);

          &.card-body {
            padding: (4 * $padding) (6 * $padding);
          }

          > div:first-child {
            padding-left: (15 * $padding);
          }

          > div:last-child {
            margin-top: (3 * $padding);

            a {
              &.card-link {
                text-transform: capitalize;

                color: lighten($black, 16%);
                background-color: transparent;
                border: 1px solid darken($white, 16%);

                padding: 0 (5 * $padding);
                height: (8 * $padding);
                line-height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: $border-radius;
                transition: color .256s ease, background-color .256s ease, border-color .256s ease, box-shadow .256s ease;

                &:nth-child(2) {
                  margin-left: 0;
                }

                &:hover {
                  color: initial;
                  background-color: darken($white, 8%);
                }
              }

              // Install link
              &.card-link-install {
                background-color: darken($white, 8%);
                border: none;

                &:hover {
                  color: $white;
                  background-color: $blue;
                }
              }

              // Settings Link
              &.card-link-settings {
                color: $white;
                background-color: $green;
                border: none;
                margin: 0 (12 * $padding) 0 auto!important;

                &:hover {
                  color: $white;
                  background-color: desaturate($green, 44%);
                }
              }

              // Update link
              &.card-link-update {
                animation-name: glow;
                animation-duration: 1.768s;
                animation-iteration-count: infinite;

                &:hover {
                  animation-name: none;
                  color: desaturate($green, 16%);
                  border-color: desaturate($green, 16%);
                  background-color: desaturate(lighten($green, 48%), 64%);
                }

              }

              // Uninstall link
              &.card-link-uninstall {
                color: lighten($black, 16%);
                background-color: transparent;
                border: 1px solid darken($white, 16%);

                &:hover {
                  color: desaturate($red, 24%);
                  border-color: desaturate($red, 16%);
                  background-color: lighten($red, 40%);
                }
              }

              // NPM Link
              &.card-link-npm {
                position: absolute;
                top: ((6 * $padding) + 1);
                left: (6 * $padding);
                width: (12 * $padding);
                height: (5 * $padding);
                padding: 0;

                border: none;
                font-size: .7rem;
                font-weight: 600;
                letter-spacing: .05rem;

                color: $white;
                background-color: $black;
              }

              // Github Link
              &.card-link-external {
                position: absolute;
                right: (6 * $padding);
                padding: 0;
                width: (8 * $padding);
                border: none;
                background-color: darken($white, 8%);
                color: $black!important;
                font-size: .8rem;

                &:hover {
                  background-color: darken($white, 24%);
                  color: $black!important;
                }
              }
            }
          }

          > p,
          > h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .card-title {
            font-weight: 600;
            margin-top: (3 * $padding);
            padding: 0;
          }

          .card-text {
            font-size: 1rem;
            color: lighten($black, 8%);
            margin: 0 0 (2 * $padding);

            span {
              font-weight: 500;
              font-size: .7rem;
              letter-spacing: .032rem;
              color: darken($blue, 8%);
            }
          }
        }
      }

      .mb-3,
      .my-3 {
        margin-bottom: $canal!important;
      }
    }


    /*
     * Modification settings view
     */

    app-settings {
      // max-width: (160 * $padding);
      margin: (4 * $padding) auto;
      display: flex;
      flex-flow: column nowrap;

      .alert,
      .list-group .list-group-item {
        font-size: 1rem;
        margin: 0 (-6 * $padding);
        padding: (3 * $padding) (6 * $padding);
      }

      .alert {
        padding-top: 0;
        padding-bottom: 0;
        border: none;
        color: lighten($black, 16%);
        font-size: .9rem;
        letter-spacing: .048;
        background-color: transparent;
      }
    }


    /*
     * Modification json form
     */

    // Form
    legend {
      font-size: 1.4rem;
      font-weight: 500;
      margin: (2 * $padding) 0 $padding;
    }
    .expandable,
    .expanded {
      legend{
        &:before {
          align-self: center;
          font-size: 1rem;
          padding-right: (2 * $padding);
        }
      }
    }

    .form-control {
    }

    root-widget {
      > * {
        margin: $padding 0;
      }

      > .form-flex-item {
        padding: 0 $padding;
      }
    }
    fieldset {
      > root-widget {
        > div:last-child {
          margin-top: (4 * $padding);
        }
      }
    }

    json-schema-form {
      .form-group {
        padding: 0;
        margin: 0;
      }
    }

    .list-group .list-group-item {
      margin: 0;
      padding: $padding (4 * $padding);
      border-radius: 0;

      .close {
        background-color: $red;
        text-shadow: none;
        opacity: 1;

        border-radius: (3 * $padding);

        position: absolute;
        right: (4 * $padding);
        top: (2.5 * $padding);

        display: flex;
        justify-content: center;
        align-items: center;

        width: (5 * $padding);
        height: (5 * $padding);

        span {
          display: block;
          text-indent: -666em;
          width: (2.5 * $padding);
          height: 2px;
          background-color: $white;
        }
      }
    }


    /*
     * Modification config view
     */

    app-config {
      > div > .row {
        padding: (4 * $padding) 0;
      }

      .text-right {
        button {
          &:nth-child(1) {
            border-radius: $border-radius 0 0 $border-radius;
            margin-right: 0;
            border-right: none;
          }

          &:nth-child(2) {
            border-radius: 0 $border-radius $border-radius 0;
          }

          &:before {
            display: block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin: 0 (2 * $padding) 0 0;
          }

          &:nth-child(1):before {
            content: "\f093";
          }

          &:nth-child(2):before {
            content: "\f019";
          }

          &:nth-child(3):before {
            content: "\f0c7";
          }
        }
      }

      ngx-monaco-editor {
        margin: 0 -20px!important;
        width: auto!important;

        .editor-container {
          height: 100%;
        }
      }
    }


    /*
     * Modification accesories view
     */

    app-accessories {
      > div {
        margin: 0 (-6 * $padding);
        padding: 0 (6 * $padding);
        min-height: 100%;
      }

      .background,
      .background:after {
        position: fixed;
        z-index: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .background:after {
        content: "";
        display: block;
        background-color: rgba($black, .16);
      }

      .room-title {
        margin-left: 0;
      }

      [ng-reflect-dragula="rooms-bag"] {
        padding-bottom: (2 * $padding);

        > div {
          position: relative;
          padding-top: (2 * $padding);

          &:before {
            content: "";
            display: block;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            border-top: 1px solid rgba($white, .16);
          }
        }
      }

      .services-bag {
        padding: 0 (2 * $padding);
      }

      > div > .row {
        padding: (4 * $padding) 0;
        margin-bottom: 0!important;
      }

      .dropdown-toggle {
        margin-right: 0;
        box-shadow: 0 8px 32px rgba(darken($green, 48%), .88)!important;
      }
    }


    app-accessories h3,
    h5.room-title {
      color: $white!important;
      text-shadow: 0 4px 16px rgba($black, .48);
    }

    .accessory-box {
      position: relative;
      margin: (2 * $padding);
      padding: (4 * $padding);
      background-color: transparent;

      border-radius: (2 * $border-radius)!important;
      box-shadow: 0 4px 16px rgba($black, .16);

      > div {
        position: relative;
        z-index: 1;
      }

      &:after {
        content: "";
        display: block;

        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(darken($white, 16%), .7);

        border-radius: (2 * $border-radius)!important;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
      }

      &.switch-on {
        background-color: rgba($white, .96);
      }

      .accessory-label {
        line-height: 1.1rem;
        font-size: .9rem;
        font-weight: 500;
        color: rgba($black, .8);
        max-height: initial;

        &.grey-text {
          margin-top: $padding;
          font-weight: 400;
          font-size: .8rem;
          color: rgba($black, .24);
          -webkit-line-clamp: 1;
        }
      }

      .accessory-svg svg,
      .temperature-circle {
        width: (9 * $padding);
        height: (9 * $padding);
        line-height: (9 * $padding);
        font-weight: 500;
      }
    }

    .no-drag .accessory-box {
      opacity: 1;
      margin-left: 0;
      display: flex;

      color: rgba($white,.64)!important;

      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-color: rgba(lighten($black, 16%), .48);

      -webkit-backdrop-filter: saturate(180%) blur(20px);
      box-shadow: none;

      &:after {
        display: none;
      }

      div {
        margin-top: 0;
        color: inherit!important;
      }
    }


    /*
     * Restart page
     */

    app-restart {
      display: flex!important;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      .row {
        max-width: (100 * $padding);
      }

      .app-spinner-container {
        position: relative;
      }
    }


    /*
     * Modification settings modal
     */

    .modal {
      .modal-content {
        border-radius: (2 * $border-radius);
        box-shadow: 0 20px 60px rgba(0,0,0,.15);

        .plugin-md p {
          margin: 0;
        }
      }

      .modal-header,
      .modal-footer {
        padding: (3 * $padding) (4 * $padding);

        h5 {
          margin: 0 auto;
          padding: 0;
        }

        .close {
          margin: 0;
          padding: 0;
        }
      }

      .modal-body {
        padding: (4 * $padding);

        .card {
          &.card-body {
            padding: 0;
            border-radius: 0;
            box-shadow: none;
          }
        }
      }

      .modal-footer {
      }
    }
  }

  // Large Screen
  @media screen and (min-width: 760px) {
    .config-ui-x-#{$name} {
      app-plugins {
        .justify-content-between {
          justify-content: flex-start!important;
        }

        .hb-plugin-space-between {
          width: calc(1/2 * 100% - (#{$canal} / 2))!important;
        }
      }
    }
  }

  // Extra Large Screen
  @media screen and (min-width: 1280px) {
    .config-ui-x-#{$name} {
      app-plugins {
        .justify-content-between {
          justify-content: flex-start!important;
        }

        .hb-plugin-space-between {
          margin-right: $canal;
          width: calc(1/3 * 100% - (#{$canal} * 2/3))!important;

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@keyframes glow {
  0% {
    color: $black;
    border-color: darken($white, 12%);
  }

  25% {
    color: darken(desaturate($green, 16%), 8%);
    border-color: desaturate($green, 16%);
  }

  50% {
    color: $black;
    border-color: darken($white, 12%);
  }
}

/* === End New Theme CSS === */



@include make-theme('red', #F44336, #D32F2F);
@include make-theme('pink', #e91e63, #c2185b);
@include make-theme('purple', #9c27b0, #421367);
@include make-theme('indigo', #3f51b5, #303f9f);
@include make-theme('blue', #2196f3, #1976d2);
@include make-theme('blue-grey', #607d8b, #455a64);
@include make-theme('navi-blue', #000099, #000070);
@include make-theme('green', #4caf50, #388e3c);
@include make-theme('orange', #ff9800, #ef6c00);
@include make-theme('grey', #9e9e9e, #616161);
@include make-theme('brown', #795548, #4e342e);
@include make-theme('amber', #ffc107, #ff8f00);
@include make-theme('teal', #009688, #00695c);
@include make-theme('cyan', #00bcd4, #00838f);
@include make-theme('deep-purple', #673ab7, #4527a0);
@include make-new-theme();

.config-ui-x-navi-blue {
  .btn-primary {
    background-color: #000099 !important;
  }

  .badge-primary {
    background-color: #000070 !important;
  }
  .widget-control-button {
    &.primary-text {
      color: #2196f3;
    }
  }

  .hb-widget-chart-background {
    background-color: rgba(#000070, 0.2);
    display: none;
   }
}